<%= content_for :title do %>
  <title>Citissuer | Issues</title>
<% end %>

<h2>Issues of your city</h2>
<div class="map">
</div>
<% @issues.each do |issue| %>
  <%= link_to issue.title, issue %>
<% end %>
