<<<<<<< HEAD
<div class="jumbotron">
  <h1>Issues from your own city!</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <%= link_to "Sign up now", signup_path, class: "btn btn-large btn-success" %>
=======
<% content_for :head do %>
	<script type="text/javascript"
    	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7yo144RJ-rCX7xtJLubbXuPf4nkaj5nw&sensor=false">
    </script>
    <%= stylesheet_link_tag 'site', :media => 'all' %>
    <%= javascript_include_tag 'site' %>
<% end %>
<h1>Site#index</h1>
<p>Find me in app/views/site/index.html.erb</p>
<div id='map'>
>>>>>>> master
</div>