<%= content_for :title do %>
  <title>Citissuer | Home</title>
<% end %>
<div class="jumbotron">
  <h1>Issues of your city</h1>
  <div class="map">
  </div>
  <p class="lead">Report, socialize and collaborate to solve the issues of your city.</p><p class="lead">Make of your city a better place to live, from your movile or your desktop</p>
  <%= link_to "Sign up now", signup_path, class: "btn btn-large btn-success" %>
</div>