<div class="jumbotron">
  <h1>Issues from your own city!</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <%= link_to "Sign up now", signup_path, class: "btn btn-large btn-success" %>
</div>