<% content_for :head do %>
	<script type="text/javascript"
    	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7yo144RJ-rCX7xtJLubbXuPf4nkaj5nw&sensor=false">
    </script>
    <%= stylesheet_link_tag 'areas', :media => 'all' %>
    <%= javascript_include_tag 'areas' %>
<% end %>
<h1>Site#index</h1>
<p>Find me in app/views/site/index.html.erb</p>