/*
*= depend_on "shared"
*/

@import "shared";

body {
  padding-top: 20px;
  padding-bottom: 40px;
  background: url(city.jpg) no-repeat;
  background-size: cover;
}

h1 {
    .subtitle-big(white);
    padding-bottom: 10px;
}

h2 {
  .subtitle-mid(white);
  margin-bottom: 8px;
}

h3 {
    .subtitle-mid(@gray-e);
}

p {
  .regular-sans(16px, normal, @gray-e);
}

a {
  .regular-sans(16px, normal, white);
  &:hover {
    color: @red;
  }
}

.edit, select {
  margin-bottom: 8px !important;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
